body {

  background-color: #282c34;
  font-size: 40px;
  color: white;
  padding-top: 30px;
}
@media (max-width: 320px) {
    body {
        font-size: 20px;
        padding-top: 15px;
      }
}
.tool-box {
    margin-top: 20px;
    width: 100vw;
    max-width: 400px;
    margin: 0 auto;
    color: black;
    text-align: center;
    display: flex;
}
.tool {
    margin: 0 1%; 
    max-width: 92px;
    max-height: 92px;
    width: 23vw;
    height: 23vw;
    font-size: 65px;
    color: #282c34;
    border: none;
    background-color: white;
    border-radius: 20px;
}
@media (max-width: 320px) {
    .tool {
        font-size: 35px;
        border-radius: 10px;
    }   
}
.tiles {
    text-shadow: 0px 0px 10px #666;
    width: 100vw;
    height: 100vw;
    max-width: 400px;
    max-height: 400px;
    position: relative;
    margin: 0 auto;
}
.tile {
    background-color: #47525c
    ;
    margin: 1%;
    box-sizing: border-box;
    position: absolute;
    border: 1px solid white;
    display: flex;
    height: 23%;
    width: 23%;
    border-radius: 20px;
}
.clickable {
    cursor: pointer;
}
@media (max-width: 320px) {
    .tile {
        border-radius: 10px;
    }
}
.tile > *{
    margin: auto
}