body {

  background-color: #282c34;
  font-size: 40px;
  color: white;
  padding-top: 30px;
}
@media (max-width: 320px) {
    body {
        font-size: 20px;
        padding-top: 15px;
      }
}
.tool-box {
    background-color: white;
    color: black;
}
.tiles {
    width: 100vw;
    height: 100vw;
    max-width: 400px;
    max-height: 400px;
    position: relative;
    margin: 0 auto;
}
.tile {
    position: absolute;
    border: 1px solid white;
    display: flex;
    height: 25%;
    width: 25%;
    transition-property: top,left;
    transition-timing-function: ease-in;
    transition-duration: .1;
}
.tile > *{
    margin: auto
}